#sectionWritings {
    
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    max-width: 60%;
    max-height: 600px;
    margin-left: 100px;
  }

  #file-uploads {
    float: left;
    width: 10%;
    margin: 0 1%;
    background-color: #feda4a;
    padding: 10px 10px 10px 10px;
    border: 2px rgb(87, 22, 22) solid;
    border-radius: 5px;
    line-height: 150%;
  }

  #text-settings {
    float: right;
    width: 10%;
    margin: 0;
    padding: 10px 10px 10px 10px;
    background-color: #feda4a;
    border: 2px rgb(87, 22, 22) solid;
    border-radius: 5px;
    line-height: 150%;
  }
  
  body {
    background-color:burlywood ;
  }
  
  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 600%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
      0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
      100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  #commentSection {
    padding: 30px;
    background-color: #8c8c8c;
  }

  #comment {
    background-color: #d4d4d4;
  }

  #main-content {
    display: flex;
  }

  #buttons {
    margin-left: 40%;
    padding-top: 1%;
  }

  #fullscreen-buttons {
    margin: 40% 40% 0 0;
    position: relative;
    display: inline-block;
    height: 2%;
    width: 50%;
  }
  